.js-animation-swim-1 {
    -webkit-animation: swim1 5s infinite;
    animation: swim1 5s infinite;
    animation-direction: alternate;
}

.js-animation-swim-2 {
    -webkit-animation: swim2 5s infinite;
    animation: swim2 5s infinite;
    animation-direction: alternate;
}
.js-animation-swim-3 {
    -webkit-animation: swim3 5s infinite;
    animation: swim3 5s infinite;
    animation-direction: alternate;
}
.js-animation-swim-4 {
    -webkit-animation: swim4 5s infinite;
    animation: swim4 5s infinite;
    animation-direction: alternate;
}

@-webkit-keyframes swim1 {
    from { top: 0; left: 0px; }
    to { top: 100px; left: 200px; }
}

@keyframes swim1 {
    from { top: 0px; left: 0px; }
    to { top: 125px; left: 200px; }
}

@-webkit-keyframes swim2 {
    from { top: 300px; left: 0px; }
    to { top: 150px; left: 300px; }
}

@keyframes swim2 {
    from { top: 300px; left: 0px; }
    to { top: 150px; left: 300px; }
}

@-webkit-keyframes swim3 {
    from { top: 100px; left: 20px; }
    to { top: 50px; left: 400px; }
}

@keyframes swim3 {
    from { top: 100px; left: 20px; }
    to { top: 50px; left: 400px; }
}

@-webkit-keyframes swim4 {
    from { top: 100px; left: 20px; }
    to { top: 25px; left: 450px; }
}

@keyframes swim4 {
    from { top: 100px; left: 20px; }
    to { top: 25px; left: 450px; }
}