button {
    margin: 1em 0;
    padding: 1em;
    font-size: 1em;
    border: 0;
}

.button--block {
    display: block;
    width: 100%;
}

.button--cta {
    background: $button-cta-bg;
    color: $button-cta-text;
    cursor: pointer;
}

.button--error {
    background: $button-error-bg;
    color: $button-error-text;
}

.button--rounded {
    border-radius: 8px;
}