html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: $body-bg;
    overflow: hidden;
}
h2 {
    text-align: center;
}
nav {
    background: $nav-bg;

    h1 {
        margin: 0;
        background: $h1-bg;
        padding: .5em;
        color: white;
        display: inline-block;
    }
}
.nav--fixed {
    position: fixed;
    top: 0;
    width: 100%;
}
main {
    height: 100%;
}

@media all and (max-width: 468px) {
    body {
        overflow: auto;
    }
}