.grid {
    margin-top: 3.4em;
    display: flex;
    height: 100%;
}

.grid__item {
  flex: 1;
  padding: 12px;
  border: solid 1px #e7e7e7;
}

@media all and (max-width: 468px) {
    .grid {
        flex-direction: column;
    }
}