.tank {
    height: 200px;
    background: $tank-bg;
    height: 60%;
    position: relative;
    overflow: hidden;
}

.fish {
    height: 25px;
    width: 25px;
    background: $fish-color;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}