$body-bg: #add8e6;
$nav-bg: #1d1c1c;
$h1-bg: #2c69f3;

$button-cta-bg: #2fb32f;
$button-cta-text: white;
$button-error-bg: #F44336;
$button-error-text: white;

$tank-bg: #94c1d0;
$fish-color: orange;

@import "elements";
@import "buttons";
@import "grids";
@import "tanks";
@import "animations";